## Borrower Reliability Analysis 

### Client - bank credit department 
### Target of the analysis: find out whether the demographics affects the fact of repayment of the loan on time
### Data: bank statistics

The study results may be taken into account when building the model ** of credit scoring ** - a special system that evaluates the ability of a potential borrower to repay a loan to a bank.

### Data

In [1]:
import pandas as pd
data = pd.read_csv('/datasets/data.csv') #читаем файл с ресурса

In [2]:
data.info()
print()
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

   children  days_employed  dob_years education  education_id  \
0         1   -8437.673028         42    высшее             0
1         1   -4024.803754         36   среднее             1
2         0   -5623.422610         33   Среднее             1
3         3   -4124.747207         32   среднее             1
4         0  340266.072047         53   среднее             1

      family_status  family_status_id gender income_type  debt   total_income  \
0   женат / замужем                 0      F   сотрудник     0  253875.639453
1   женат / замужем                 0      F   сотрудник     0  112080.014102
2   женат / замужем                 0      M   сотрудник     0  145885.952297
3   женат / замужем                 0      M   сотрудник     0  267628.550329
4  гражданский брак                 1      F   пенсионер     0  158616.077870

                      purpose
0               покупка жилья
1     приобретение автомобиля
2               покупка жилья
3  дополнительное образование
4             сыграть свадьбу

### Вывод

Всего в таблице с данными 21525 строк и 12 столбцов.
Столбцы days_employed и total_income имеют по 19351 значений, что меньше, чем длина таблицы, есть взаимосвязь, необходимо проверить далее. Оба столбца числовые.
Типы данных по столбцам в целом соответствуют их предназначению, требуется точная проверка.
Категориальные переменные: education, family_status, gender, income_type.
Логические переменные: education_id, family_status_id, debt.
Остальные переменные количественные (purpose - возможно требуется привести к категориальной).

### Data preprocessing

### Empty cells processing

Работа со столбцом "days_employed". Выделяется количество данных в столбце = 19351, это меньше, чем длина таблицы.
Также видно, что данные двух видов - о знаком минуса и без него. Логика подсказывает, что правильные числа - со знаком минуса, так как если разделить число без минуса на количество дней в году, что мы получаем очень большие сроки для трудового стажа одного человека. Нужно понять сколько таких значений и на что они влияют.

In [3]:
#проверяем разные условия для понимания групп и количества

days_employed_retired = data[(data['days_employed']>0) & (data['income_type']=='пенсионер')].count()
print(days_employed_retired)
print()
days_employed_jobless = data[(data['days_employed']>0) & (data['income_type']=='безработный')].count()
print(days_employed_jobless)

children            3443
days_employed       3443
dob_years           3443
education           3443
education_id        3443
family_status       3443
family_status_id    3443
gender              3443
income_type         3443
debt                3443
total_income        3443
purpose             3443
dtype: int64

children            2
days_employed       2
dob_years           2
education           2
education_id        2
family_status       2
family_status_id    2
gender              2
income_type         2
debt                2
total_income        2
purpose             2
dtype: int64

Проверка показала, что числа с минусом относятся к данным из столбца "income_type" == "пенсионер" и "безработный".
Первых 3443, вторых 2.  
Значения не меняем.
Проверяем пропуски.

Проверяем 'days_employed': NaN = 2174 строки.

In [4]:
print(data[data['days_employed'].isnull()]) # проверяем столбец на пропуски

       children  days_employed  dob_years            education  education_id  \
12            0            NaN         65              среднее             1
26            0            NaN         41              среднее             1
29            0            NaN         63              среднее             1
41            0            NaN         50              среднее             1
55            0            NaN         54              среднее             1
65            0            NaN         21              среднее             1
67            0            NaN         52               высшее             0
72            1            NaN         32               высшее             0
82            2            NaN         50               высшее             0
83            0            NaN         52              среднее             1
90            2            NaN         35               высшее             0
94            1            NaN         34               высшее             0
96            0            NaN         44              СРЕДНЕЕ             1
97            0            NaN         47               высшее             0
120           0            NaN         46              среднее             1
121           0            NaN         29               высшее             0
135           0            NaN         27              среднее             1
141           0            NaN         39              среднее             1
145           0            NaN         62              среднее             1
174           0            NaN         55               высшее             0
181           0            NaN         26              среднее             1
189           1            NaN         30              среднее             1
205           1            NaN         31               высшее             0
220           1            NaN         23  неоконченное высшее             2
241           0            NaN         47              среднее             1
242           0            NaN         58              среднее             1
247           1            NaN         60               высшее             0
250           0            NaN         54               высшее             0
264           2            NaN         40              среднее             1
278           1            NaN         23              Среднее             1
...         ...            ...        ...                  ...           ...
21226         3            NaN         38              среднее             1
21242         1            NaN         33               высшее             0
21251         0            NaN         57  неоконченное высшее             2
21258         1            NaN         40              среднее             1
21268         1            NaN         44               высшее             0
21271         2            NaN         42              среднее             1
21281         1            NaN         30               высшее             0
21294         0            NaN         45               ВЫСШЕЕ             0
21300         2            NaN         45              Среднее             1
21305         0            NaN         59              среднее             1
21308         0            NaN         48              среднее             1
21311         0            NaN         49              среднее             1
21321         0            NaN         56              Среднее             1
21350         0            NaN         21              среднее             1
21364         0            NaN         50              среднее             1
21369         2            NaN         42              среднее             1
21390        20            NaN         53              среднее             1
21391         0            NaN         52              среднее             1
21407         1            NaN         36              среднее             1
21414         0            NaN         65              среднее             1
21415         0            NaN         54              среднее             1
21423         0            NaN         63              среднее             1
21426         0            NaN         49              среднее             1
21432         1            NaN         38  неоконченное высшее             2
21463         1            NaN         35               высшее             0
21489         2            NaN         47              Среднее             1
21495         1            NaN         50              среднее             1
21497         0            NaN         48               ВЫСШЕЕ             0
21502         1            NaN         42              среднее             1
21510         2            NaN         28              среднее             1

               family_status  family_status_id gender  income_type  debt  \
12          гражданский брак                 1      M    пенсионер     0
26           женат / замужем                 0      M  госслужащий     0
29     Не женат / не замужем                 4      F    пенсионер     0
41           женат / замужем                 0      F  госслужащий     0
55          гражданский брак                 1      F    пенсионер     1
65     Не женат / не замужем                 4      M    компаньон     0
67           женат / замужем                 0      F    пенсионер     0
72           женат / замужем                 0      M  госслужащий     0
82           женат / замужем                 0      F    сотрудник     0
83           женат / замужем                 0      M    сотрудник     0
90           женат / замужем                 0      F    сотрудник     0
94          гражданский брак                 1      F    компаньон     0
96           женат / замужем                 0      F    сотрудник     0
97           женат / замужем                 0      F    сотрудник     0
120          женат / замужем                 0      F    сотрудник     0
121          женат / замужем                 0      F    компаньон     0
135          женат / замужем                 0      M    компаньон     0
141         гражданский брак                 1      M    сотрудник     0
145          женат / замужем                 0      M    пенсионер     0
174           вдовец / вдова                 2      F    компаньон     0
181         гражданский брак                 1      F    компаньон     1
189    Не женат / не замужем                 4      F    сотрудник     0
205          женат / замужем                 0      F    сотрудник     0
220         гражданский брак                 1      F    компаньон     0
241          женат / замужем                 0      M    сотрудник     0
242          женат / замужем                 0      F  госслужащий     0
247          женат / замужем                 0      F    пенсионер     1
250          женат / замужем                 0      F    сотрудник     0
264                в разводе                 3      F    сотрудник     0
278         гражданский брак                 1      F    сотрудник     1
...                      ...               ...    ...          ...   ...
21226       гражданский брак                 1      M    сотрудник     0
21242  Не женат / не замужем                 4      F  госслужащий     0
21251       гражданский брак                 1      F    сотрудник     0
21258  Не женат / не замужем                 4      M    сотрудник     0
21268       гражданский брак                 1      F  госслужащий     0
21271       гражданский брак                 1      M    сотрудник     1
21281        женат / замужем                 0      F    сотрудник     0
21294        женат / замужем                 0      F    сотрудник     0
21300       гражданский брак                 1      M    компаньон     0
21305  Не женат / не замужем                 4      F    пенсионер     0
21308        женат / замужем                 0      F    компаньон     0
21311        женат / замужем                 0      F    пенсионер     0
21321        женат / замужем                 0      F    пенсионер     0
21350  Не женат / не замужем                 4      M    компаньон     0
21364        женат / замужем                 0      M    сотрудник     0
21369              в разводе                 3      M    компаньон     0
21390        женат / замужем                 0      M    компаньон     0
21391        женат / замужем                 0      F    компаньон     0
21407        женат / замужем                 0      F    компаньон     0
21414        женат / замужем                 0      F    пенсионер     0
21415        женат / замужем                 0      F    пенсионер     0
21423        женат / замужем                 0      M    пенсионер     0
21426        женат / замужем                 0      F    сотрудник     1
21432  Не женат / не замужем                 4      F    сотрудник     0
21463       гражданский брак                 1      M    сотрудник     0
21489        женат / замужем                 0      M    компаньон     0
21495       гражданский брак                 1      F    сотрудник     0
21497        женат / замужем                 0      F    компаньон     0
21502        женат / замужем                 0      F    сотрудник     0
21510        женат / замужем                 0      F    сотрудник     0

       total_income                                 purpose
12              NaN                         сыграть свадьбу
26              NaN                             образование
29              NaN        строительство жилой недвижимости
41              NaN        сделка с подержанным автомобилем
55              NaN                         сыграть свадьбу
65              NaN   операции с коммерческой недвижимостью
67              NaN                 покупка жилья для семьи
72              NaN   операции с коммерческой недвижимостью
82              NaN                                   жилье
83              NaN                                   жилье
90              NaN                       операции с жильем
94              NaN                   на проведение свадьбы
96              NaN              покупка жилой недвижимости
97              NaN                  профильное образование
120             NaN                      высшее образование
121             NaN                              автомобиль
135             NaN                                   жилье
141             NaN                                 свадьба
145             NaN              строительство недвижимости
174             NaN                         свой автомобиль
181             NaN                 покупка жилья для семьи
189             NaN                         свой автомобиль
205             NaN      на покупку подержанного автомобиля
220             NaN                         сыграть свадьбу
241             NaN  строительство собственной недвижимости
242             NaN                    покупка своего жилья
247             NaN            заняться высшим образованием
250             NaN        сделка с подержанным автомобилем
264             NaN                            недвижимость
278             NaN                              автомобиль
...             ...                                     ...
21226           NaN                   получение образования
21242           NaN  строительство собственной недвижимости
21251           NaN                                 свадьба
21258           NaN                       операции с жильем
21268           NaN                   на проведение свадьбы
21271           NaN         операции со своей недвижимостью
21281           NaN       покупка коммерческой недвижимости
21294           NaN                      высшее образование
21300           NaN   получение дополнительного образования
21305           NaN  строительство собственной недвижимости
21308           NaN                 покупка жилья для сдачи
21311           NaN                 покупка жилья для сдачи
21321           NaN                операции с недвижимостью
21350           NaN                   на покупку автомобиля
21364           NaN         операции со своей недвижимостью
21369           NaN              покупка жилой недвижимости
21390           NaN              покупка жилой недвижимости
21391           NaN                 покупка жилья для семьи
21407           NaN        строительство жилой недвижимости
21414           NaN                    покупка своего жилья
21415           NaN                       операции с жильем
21423           NaN                    сделка с автомобилем
21426           NaN                            недвижимость
21432           NaN                       операции с жильем
21463           NaN                   на проведение свадьбы
21489           NaN                    сделка с автомобилем
21495           NaN                                 свадьба
21497           NaN              строительство недвижимости
21502           NaN        строительство жилой недвижимости
21510           NaN                 приобретение автомобиля

[2174 rows x 12 columns]

In [5]:
days_employed_nan = data[(data['days_employed']==0) & (data['total_income']==0)].count() 
#проверяем разные условия для понимания групп и количества
print(days_employed_nan)

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

Значения в столбце "days_employed" напрямую связаны со значениями столбца "total_income".
Нет значений в одном, значит нет значений и в другом столбце.

'days_employed': NaN = 2174 строки. Применяем fillna на 0.

In [6]:
data['days_employed'] = data['days_employed'].fillna(0)

In [7]:
print(data[data['days_employed'].isnull()]) # проверяем столбец на пропуски

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

Столбец "days_employed" теперь 21525 значений.

Проверяем столбец "total_income" с его 19351 значением.

In [9]:
print(data[data['total_income'].isnull()]) # проверяем столбец на пропуски

       children  days_employed  dob_years            education  education_id  \
12            0            0.0         65              среднее             1
26            0            0.0         41              среднее             1
29            0            0.0         63              среднее             1
41            0            0.0         50              среднее             1
55            0            0.0         54              среднее             1
65            0            0.0         21              среднее             1
67            0            0.0         52               высшее             0
72            1            0.0         32               высшее             0
82            2            0.0         50               высшее             0
83            0            0.0         52              среднее             1
90            2            0.0         35               высшее             0
94            1            0.0         34               высшее             0
96            0            0.0         44              СРЕДНЕЕ             1
97            0            0.0         47               высшее             0
120           0            0.0         46              среднее             1
121           0            0.0         29               высшее             0
135           0            0.0         27              среднее             1
141           0            0.0         39              среднее             1
145           0            0.0         62              среднее             1
174           0            0.0         55               высшее             0
181           0            0.0         26              среднее             1
189           1            0.0         30              среднее             1
205           1            0.0         31               высшее             0
220           1            0.0         23  неоконченное высшее             2
241           0            0.0         47              среднее             1
242           0            0.0         58              среднее             1
247           1            0.0         60               высшее             0
250           0            0.0         54               высшее             0
264           2            0.0         40              среднее             1
278           1            0.0         23              Среднее             1
...         ...            ...        ...                  ...           ...
21226         3            0.0         38              среднее             1
21242         1            0.0         33               высшее             0
21251         0            0.0         57  неоконченное высшее             2
21258         1            0.0         40              среднее             1
21268         1            0.0         44               высшее             0
21271         2            0.0         42              среднее             1
21281         1            0.0         30               высшее             0
21294         0            0.0         45               ВЫСШЕЕ             0
21300         2            0.0         45              Среднее             1
21305         0            0.0         59              среднее             1
21308         0            0.0         48              среднее             1
21311         0            0.0         49              среднее             1
21321         0            0.0         56              Среднее             1
21350         0            0.0         21              среднее             1
21364         0            0.0         50              среднее             1
21369         2            0.0         42              среднее             1
21390        20            0.0         53              среднее             1
21391         0            0.0         52              среднее             1
21407         1            0.0         36              среднее             1
21414         0            0.0         65              среднее             1
21415         0            0.0         54              среднее             1
21423         0            0.0         63              среднее             1
21426         0            0.0         49              среднее             1
21432         1            0.0         38  неоконченное высшее             2
21463         1            0.0         35               высшее             0
21489         2            0.0         47              Среднее             1
21495         1            0.0         50              среднее             1
21497         0            0.0         48               ВЫСШЕЕ             0
21502         1            0.0         42              среднее             1
21510         2            0.0         28              среднее             1

               family_status  family_status_id gender  income_type  debt  \
12          гражданский брак                 1      M    пенсионер     0
26           женат / замужем                 0      M  госслужащий     0
29     Не женат / не замужем                 4      F    пенсионер     0
41           женат / замужем                 0      F  госслужащий     0
55          гражданский брак                 1      F    пенсионер     1
65     Не женат / не замужем                 4      M    компаньон     0
67           женат / замужем                 0      F    пенсионер     0
72           женат / замужем                 0      M  госслужащий     0
82           женат / замужем                 0      F    сотрудник     0
83           женат / замужем                 0      M    сотрудник     0
90           женат / замужем                 0      F    сотрудник     0
94          гражданский брак                 1      F    компаньон     0
96           женат / замужем                 0      F    сотрудник     0
97           женат / замужем                 0      F    сотрудник     0
120          женат / замужем                 0      F    сотрудник     0
121          женат / замужем                 0      F    компаньон     0
135          женат / замужем                 0      M    компаньон     0
141         гражданский брак                 1      M    сотрудник     0
145          женат / замужем                 0      M    пенсионер     0
174           вдовец / вдова                 2      F    компаньон     0
181         гражданский брак                 1      F    компаньон     1
189    Не женат / не замужем                 4      F    сотрудник     0
205          женат / замужем                 0      F    сотрудник     0
220         гражданский брак                 1      F    компаньон     0
241          женат / замужем                 0      M    сотрудник     0
242          женат / замужем                 0      F  госслужащий     0
247          женат / замужем                 0      F    пенсионер     1
250          женат / замужем                 0      F    сотрудник     0
264                в разводе                 3      F    сотрудник     0
278         гражданский брак                 1      F    сотрудник     1
...                      ...               ...    ...          ...   ...
21226       гражданский брак                 1      M    сотрудник     0
21242  Не женат / не замужем                 4      F  госслужащий     0
21251       гражданский брак                 1      F    сотрудник     0
21258  Не женат / не замужем                 4      M    сотрудник     0
21268       гражданский брак                 1      F  госслужащий     0
21271       гражданский брак                 1      M    сотрудник     1
21281        женат / замужем                 0      F    сотрудник     0
21294        женат / замужем                 0      F    сотрудник     0
21300       гражданский брак                 1      M    компаньон     0
21305  Не женат / не замужем                 4      F    пенсионер     0
21308        женат / замужем                 0      F    компаньон     0
21311        женат / замужем                 0      F    пенсионер     0
21321        женат / замужем                 0      F    пенсионер     0
21350  Не женат / не замужем                 4      M    компаньон     0
21364        женат / замужем                 0      M    сотрудник     0
21369              в разводе                 3      M    компаньон     0
21390        женат / замужем                 0      M    компаньон     0
21391        женат / замужем                 0      F    компаньон     0
21407        женат / замужем                 0      F    компаньон     0
21414        женат / замужем                 0      F    пенсионер     0
21415        женат / замужем                 0      F    пенсионер     0
21423        женат / замужем                 0      M    пенсионер     0
21426        женат / замужем                 0      F    сотрудник     1
21432  Не женат / не замужем                 4      F    сотрудник     0
21463       гражданский брак                 1      M    сотрудник     0
21489        женат / замужем                 0      M    компаньон     0
21495       гражданский брак                 1      F    сотрудник     0
21497        женат / замужем                 0      F    компаньон     0
21502        женат / замужем                 0      F    сотрудник     0
21510        женат / замужем                 0      F    сотрудник     0

       total_income                                 purpose
12              NaN                         сыграть свадьбу
26              NaN                             образование
29              NaN        строительство жилой недвижимости
41              NaN        сделка с подержанным автомобилем
55              NaN                         сыграть свадьбу
65              NaN   операции с коммерческой недвижимостью
67              NaN                 покупка жилья для семьи
72              NaN   операции с коммерческой недвижимостью
82              NaN                                   жилье
83              NaN                                   жилье
90              NaN                       операции с жильем
94              NaN                   на проведение свадьбы
96              NaN              покупка жилой недвижимости
97              NaN                  профильное образование
120             NaN                      высшее образование
121             NaN                              автомобиль
135             NaN                                   жилье
141             NaN                                 свадьба
145             NaN              строительство недвижимости
174             NaN                         свой автомобиль
181             NaN                 покупка жилья для семьи
189             NaN                         свой автомобиль
205             NaN      на покупку подержанного автомобиля
220             NaN                         сыграть свадьбу
241             NaN  строительство собственной недвижимости
242             NaN                    покупка своего жилья
247             NaN            заняться высшим образованием
250             NaN        сделка с подержанным автомобилем
264             NaN                            недвижимость
278             NaN                              автомобиль
...             ...                                     ...
21226           NaN                   получение образования
21242           NaN  строительство собственной недвижимости
21251           NaN                                 свадьба
21258           NaN                       операции с жильем
21268           NaN                   на проведение свадьбы
21271           NaN         операции со своей недвижимостью
21281           NaN       покупка коммерческой недвижимости
21294           NaN                      высшее образование
21300           NaN   получение дополнительного образования
21305           NaN  строительство собственной недвижимости
21308           NaN                 покупка жилья для сдачи
21311           NaN                 покупка жилья для сдачи
21321           NaN                операции с недвижимостью
21350           NaN                   на покупку автомобиля
21364           NaN         операции со своей недвижимостью
21369           NaN              покупка жилой недвижимости
21390           NaN              покупка жилой недвижимости
21391           NaN                 покупка жилья для семьи
21407           NaN        строительство жилой недвижимости
21414           NaN                    покупка своего жилья
21415           NaN                       операции с жильем
21423           NaN                    сделка с автомобилем
21426           NaN                            недвижимость
21432           NaN                       операции с жильем
21463           NaN                   на проведение свадьбы
21489           NaN                    сделка с автомобилем
21495           NaN                                 свадьба
21497           NaN              строительство недвижимости
21502           NaN        строительство жилой недвижимости
21510           NaN                 приобретение автомобиля

[2174 rows x 12 columns]

Значения NaN в данном столбце связаны со столбцом "days_employed", где нулевые значения влияют на заполнение этого столбца.

Проверка подтвердила взаимосвязь. Заполняем NaN в "total_income" как 0.

In [10]:
data['total_income'] = data['total_income'].fillna(0)
print(data[data['total_income'].isnull()]) # проверяем столбец на пропуски

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

Все пропуски по столбцам заполнены.

### Recap

Были обнаружены пропущенные значения в столбцах "days_employed" и "total_income" в количестве 2174 штуки.
Эти значения относятся к числовым.
Можно предположить, что одно значение рассчитывается на основании наличия другого по формуле.
Пропуски заполнены методом fillna на 0.

### Data types replacement

In [12]:
print(data.head(20)) # изучим первые 20 строк

    children  days_employed  dob_years            education  education_id  \
0          1   -8437.673028         42               высшее             0
1          1   -4024.803754         36              среднее             1
2          0   -5623.422610         33              Среднее             1
3          3   -4124.747207         32              среднее             1
4          0  340266.072047         53              среднее             1
5          0    -926.185831         27               высшее             0
6          0   -2879.202052         43               высшее             0
7          0    -152.779569         50              СРЕДНЕЕ             1
8          2   -6929.865299         35               ВЫСШЕЕ             0
9          0   -2188.756445         41              среднее             1
10         2   -4171.483647         36               высшее             0
11         0    -792.701887         40              среднее             1
12         0       0.000000         65              среднее             1
13         0   -1846.641941         54  неоконченное высшее             2
14         0   -1844.956182         56               высшее             0
15         1    -972.364419         26              среднее             1
16         0   -1719.934226         35              среднее             1
17         0   -2369.999720         33               высшее             0
18         0  400281.136913         53              среднее             1
19         0  -10038.818549         48              СРЕДНЕЕ             1

       family_status  family_status_id gender income_type  debt  \
0    женат / замужем                 0      F   сотрудник     0
1    женат / замужем                 0      F   сотрудник     0
2    женат / замужем                 0      M   сотрудник     0
3    женат / замужем                 0      M   сотрудник     0
4   гражданский брак                 1      F   пенсионер     0
5   гражданский брак                 1      M   компаньон     0
6    женат / замужем                 0      F   компаньон     0
7    женат / замужем                 0      M   сотрудник     0
8   гражданский брак                 1      F   сотрудник     0
9    женат / замужем                 0      M   сотрудник     0
10   женат / замужем                 0      M   компаньон     0
11   женат / замужем                 0      F   сотрудник     0
12  гражданский брак                 1      M   пенсионер     0
13   женат / замужем                 0      F   сотрудник     0
14  гражданский брак                 1      F   компаньон     1
15   женат / замужем                 0      F   сотрудник     0
16   женат / замужем                 0      F   сотрудник     0
17  гражданский брак                 1      M   сотрудник     0
18    вдовец / вдова                 2      F   пенсионер     0
19         в разводе                 3      F   сотрудник     0

     total_income                                 purpose
0   253875.639453                           покупка жилья
1   112080.014102                 приобретение автомобиля
2   145885.952297                           покупка жилья
3   267628.550329              дополнительное образование
4   158616.077870                         сыграть свадьбу
5   255763.565419                           покупка жилья
6   240525.971920                       операции с жильем
7   135823.934197                             образование
8    95856.832424                   на проведение свадьбы
9   144425.938277                 покупка жилья для семьи
10  113943.491460                    покупка недвижимости
11   77069.234271       покупка коммерческой недвижимости
12       0.000000                         сыграть свадьбу
13  130458.228857                 приобретение автомобиля
14  165127.911772              покупка жилой недвижимости
15  116820.904450  строительство собственной недвижимости
16  289202.704229                            недвижимость
17   90410.586745              строительство недвижимости
18   56823.777243      на покупку подержанного автомобиля
19  242831.107982            на покупку своего автомобиля

При изучении выявлены артефакты в следующих столбцах:
days_employed - значения со знаком минус и слишком большие значения чтобы быть сроком;
education - разный шрифт, возможно потребуется привести к одному виду для анализа;

Проверим столбец "children" через подсчет уникальных значений.

In [13]:
print(data['children'].value_counts()) #проверяем кол-во уникальных значений
print(data['children'].sum()) #проверяем на числа, исключаем str

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64
11600

При изучении первого столбца 'children' бросаются в глаза значения не похожие на реальные: 20 и -1 ребенок на заёмщика. Данные из этого столбца являются важными для ответа на один из поставленных вопросов, попробуем разобраться детальнее.

В столбце 'children' все значения числовые.
Однако, мы видим необычные количества в 20 и в -1 детей.
Учитывая, что после 5 детей далее идет разрыв до 20, значит эти 20 детей на заемщика, это или ошибка печати вместо 2-х, либо работа системы - округление всех значений от 6 и выше в число 20.

In [14]:
print(data[data['children'] == 20]) # выводим таблицу данных с кол-вом детей ==20, найти взаимосвязи

       children  days_employed  dob_years            education  education_id  \
606          20    -880.221113         21              среднее             1
720          20    -855.595512         44              среднее             1
1074         20   -3310.411598         56              среднее             1
2510         20   -2714.161249         59               высшее             0
2941         20   -2161.591519          0              среднее             1
3302         20       0.000000         35              среднее             1
3396         20       0.000000         56               высшее             0
3671         20    -913.161503         23              среднее             1
3697         20   -2907.910616         40              среднее             1
3735         20    -805.044438         26               высшее             0
3877         20   -8190.644409         45              среднее             1
5020         20    -231.783475         37              среднее             1
5315         20   -2047.754733         24              среднее             1
5349         20  361744.836360         64              среднее             1
5362         20  355898.021316         69              среднее             1
6198         20       0.000000         35               высшее             0
6428         20   -8545.567551         46              среднее             1
7027         20    -690.181658         54              среднее             1
7078         20   -1202.399533         40              среднее             1
7516         20    -893.157059         45              среднее             1
7789         20  360485.069162         55              среднее             1
7962         20    -323.699443         40               высшее             0
8430         20       0.000000         60              среднее             1
8883         20   -4749.817420         36              среднее             1
8909         20   -1749.122253         41              среднее             1
8950         20   -4511.016324         32              Среднее             1
9889         20   -2232.776113         34              СРЕДНЕЕ             1
10194        20   -6557.347086         42               высшее             0
10377        20   -2634.254942         49               высшее             0
10736        20   -4378.723308         30               высшее             0
...         ...            ...        ...                  ...           ...
13618        20  338097.858485         49              Среднее             1
14355        20  378510.823821         56              среднее             1
14474        20   -2625.072839         27              среднее             1
14782        20    -233.511877         50              среднее             1
15313        20    -133.690801         56              Среднее             1
15674        20   -5419.859866         33              среднее             1
15762        20   -4744.140679         41              среднее             1
15812        20   -3438.044106         42              среднее             1
15976        20       0.000000         39              среднее             1
16371        20    -419.894814         29  неоконченное высшее             2
16795        20   -2530.540521         29              среднее             1
16886        20    -957.251278         33               высшее             0
17093        20   -1481.602776         42              среднее             1
17134        20   -1399.559357         46              среднее             1
17286        20       0.000000         50               высшее             0
17509        20    -461.939717         31              среднее             1
18476        20   -4686.111677         36              среднее             1
18493        20    -121.000107         49              среднее             1
18756        20   -2334.690116         51              среднее             1
18890        20    -904.259293         37              среднее             1
19271        20    -325.804872         43               высшее             0
19562        20    -721.344373         30  неоконченное высшее             2
19774        20       0.000000         59              среднее             1
20038        20    -782.499396         32              среднее             1
20355        20   -2695.079206         45              среднее             1
21008        20   -1240.257910         40              среднее             1
21325        20    -601.174883         37              среднее             1
21390        20       0.000000         53              среднее             1
21404        20    -494.788448         52              среднее             1
21491        20    -173.954460         27              среднее             1

               family_status  family_status_id gender  income_type  debt  \
606          женат / замужем                 0      M    компаньон     0
720          женат / замужем                 0      F    компаньон     0
1074         женат / замужем                 0      F    сотрудник     1
2510          вдовец / вдова                 2      F    сотрудник     0
2941         женат / замужем                 0      F    сотрудник     0
3302   Не женат / не замужем                 4      F  госслужащий     0
3396         женат / замужем                 0      F    компаньон     0
3671   Не женат / не замужем                 4      F    сотрудник     0
3697        гражданский брак                 1      M    сотрудник     0
3735   Не женат / не замужем                 4      M    сотрудник     0
3877        гражданский брак                 1      F    сотрудник     0
5020        гражданский брак                 1      M    компаньон     0
5315         женат / замужем                 0      F    сотрудник     0
5349          вдовец / вдова                 2      F    пенсионер     0
5362         женат / замужем                 0      M    пенсионер     0
6198   Не женат / не замужем                 4      M    компаньон     0
6428        гражданский брак                 1      F    сотрудник     0
7027        гражданский брак                 1      F    компаньон     0
7078         женат / замужем                 0      F    сотрудник     0
7516         женат / замужем                 0      F    сотрудник     0
7789         женат / замужем                 0      F    пенсионер     0
7962         женат / замужем                 0      M    компаньон     0
8430          вдовец / вдова                 2      F    пенсионер     0
8883         женат / замужем                 0      M    сотрудник     0
8909         женат / замужем                 0      M    сотрудник     0
8950         женат / замужем                 0      M    сотрудник     0
9889   Не женат / не замужем                 4      M    сотрудник     0
10194        женат / замужем                 0      M    сотрудник     0
10377        женат / замужем                 0      F    сотрудник     0
10736        женат / замужем                 0      F    компаньон     0
...                      ...               ...    ...          ...   ...
13618        женат / замужем                 0      F    пенсионер     0
14355        женат / замужем                 0      F    пенсионер     0
14474        женат / замужем                 0      F    сотрудник     0
14782        женат / замужем                 0      M    компаньон     0
15313        женат / замужем                 0      F    компаньон     0
15674       гражданский брак                 1      F    сотрудник     0
15762        женат / замужем                 0      F    сотрудник     0
15812        женат / замужем                 0      F    сотрудник     0
15976  Не женат / не замужем                 4      F    сотрудник     0
16371  Не женат / не замужем                 4      M    сотрудник     0
16795        женат / замужем                 0      M    компаньон     0
16886        женат / замужем                 0      F    сотрудник     0
17093        женат / замужем                 0      F    сотрудник     0
17134        женат / замужем                 0      M    компаньон     0
17286              в разводе                 3      F    сотрудник     0
17509  Не женат / не замужем                 4      F    сотрудник     0
18476        женат / замужем                 0      M  госслужащий     0
18493        женат / замужем                 0      F    компаньон     0
18756        женат / замужем                 0      F    сотрудник     0
18890        женат / замужем                 0      F    компаньон     1
19271        женат / замужем                 0      M    сотрудник     0
19562       гражданский брак                 1      F    компаньон     0
19774       гражданский брак                 1      F    пенсионер     0
20038  Не женат / не замужем                 4      M    сотрудник     1
20355       гражданский брак                 1      M    сотрудник     1
21008        женат / замужем                 0      F    сотрудник     1
21325        женат / замужем                 0      F    компаньон     0
21390        женат / замужем                 0      M    компаньон     0
21404        женат / замужем                 0      M    компаньон     0
21491        женат / замужем                 0      F    сотрудник     0

        total_income                                 purpose
606    145334.865002                           покупка жилья
720    112998.738649                    покупка недвижимости
1074   229518.537004                   получение образования
2510   264474.835577   операции с коммерческой недвижимостью
2941   199739.941398                   на покупку автомобиля
3302        0.000000                  профильное образование
3396        0.000000                      высшее образование
3671   101255.492076      на покупку подержанного автомобиля
3697   115380.694664      на покупку подержанного автомобиля
3735   137200.646181                            ремонт жилью
3877   312270.145176        сделка с подержанным автомобилем
5020   260203.344629                         сыграть свадьбу
5315   100415.236833       покупка коммерческой недвижимости
5349    81926.818467                       операции с жильем
5362   138579.082863                              автомобили
6198        0.000000                                   жилье
6428   145733.008321                         сыграть свадьбу
7027   100206.266595                   на проведение свадьбы
7078    67529.598542           получение высшего образования
7516   113956.567719                 покупка жилья для сдачи
7789   138626.756600  строительство собственной недвижимости
7962   190051.666340  строительство собственной недвижимости
8430        0.000000                           покупка жилья
8883   441721.334145                      высшее образование
8909   200383.345755                            ремонт жилью
8950   300682.082113      на покупку подержанного автомобиля
9889    53971.576721                           покупка жилья
10194  124621.997936                             образование
10377   67794.375138                       операции с жильем
10736  154706.262149                      высшее образование
...              ...                                     ...
13618  140616.925984  строительство собственной недвижимости
14355  127947.130141        сделка с подержанным автомобилем
14474  244092.075999                      высшее образование
14782  215296.005577        сделка с подержанным автомобилем
15313  299339.624658                      высшее образование
15674  155567.570284                                 свадьба
15762  143529.459627              дополнительное образование
15812  295265.213511                                   жилье
15976       0.000000                    покупка недвижимости
16371  122062.334283   операции с коммерческой недвижимостью
16795   95454.865761                            недвижимость
16886   86656.369322        сделка с подержанным автомобилем
17093   73069.574569   получение дополнительного образования
17134  136446.558557                 покупка жилья для семьи
17286       0.000000       покупка коммерческой недвижимости
17509   90937.893204                                   жилье
18476  258005.804002      на покупку подержанного автомобиля
18493  306808.814738  строительство собственной недвижимости
18756  224637.817562                              автомобиль
18890  212811.568585      на покупку подержанного автомобиля
19271  272626.630485                         свой автомобиль
19562  133319.593450                         сыграть свадьбу
19774       0.000000                         сыграть свадьбу
20038  117758.551168       покупка коммерческой недвижимости
20355  177922.630435                   на проведение свадьбы
21008  133524.010303                         свой автомобиль
21325  102986.065978                  профильное образование
21390       0.000000              покупка жилой недвижимости
21404  156629.683642         операции со своей недвижимостью
21491  155520.899688      на покупку подержанного автомобиля

[76 rows x 12 columns]

Явные взаимосвязи с остальными переменными по другим столбцам не видны на первый взгляд.
Есть решение проверить через критическую для нас величину "наличие факта задолженности по кредиту".
Выясним соотношение в группе и решим как исправить значение в "20 детей", чтобы минимально повлиять на дальнейшие расчеты.

In [15]:
children_debt = data[(data['children']==20) & (data['debt']==1)].count() 
# найти количество заемщиков с кол-вом детей 20 и наличием факта задолженности по кредиту
print(children_debt) # найдено, что должников 8 к 76 = 10.5%

children            8
days_employed       8
dob_years           8
education           8
education_id        8
family_status       8
family_status_id    8
gender              8
income_type         8
debt                8
total_income        8
purpose             8
dtype: int64

In [16]:
count_debt = data['debt'].value_counts() # подсчитаем всего значений по столбцу debt
print(count_debt)
print(count_debt/len(data)*100) #соотношение фактов

0    19784
1     1741
Name: debt, dtype: int64
0    91.911731
1     8.088269
Name: debt, dtype: float64

Соотношение должников к общему числу заемщиков по группе с 20 детьми = 10.5%, когда как по всей базе такое соотношение 8.1%.
Логичным видится найти соотношение по всем группам, чтобы переименовать число 20 в правильную группу (с похожей характеристикой по отношению).

In [17]:
debt_grouped = data.groupby('children').agg({'debt': ['sum', 'count']}) 
# группируем по количеству детей и выводим по этим группам сумму и кол-во должников. 
debt_grouped['ratio'] = debt_grouped['debt']['sum'] / debt_grouped['debt']['count'] 
# находим соотношение суммы к количеству должников по группе #детей.
print(debt_grouped)

          debt            ratio
           sum  count
children
-1           1     47  0.021277
 0        1063  14149  0.075129
 1         444   4818  0.092154
 2         194   2055  0.094404
 3          27    330  0.081818
 4           4     41  0.097561
 5           0      9  0.000000
 20          8     76  0.105263

Группа "2 ребенка" имеет близкий уровень соотношения наличия факта долга к общему количеству к группе "20 детей". Предположим, что здесь была опечатка и переименуем 20 в 2. Эта замена не сильно повлияет на дальнейшее исследование.

In [18]:
data['children'] = data['children'].replace(20, 2) # заменили 20 на 2
print(data['children'].value_counts())

 0    14149
 1     4818
 2     2131
 3      330
-1       47
 4       41
 5        9
Name: children, dtype: int64

По аналогии поступим с показателем -1 в столбце "количество детей": проверим через список и если не будет явных групп по каким-то признакам - отнесем к группе значений с похожим отношением наличие факта долга к кол-ву заемщиков.

In [19]:
print(data[data['children'] == -1]) # выводим таблицу данных с кол-вом детей ==-1, найти взаимосвязи

       children  days_employed  dob_years            education  education_id  \
291          -1   -4417.703588         46              среднее             1
705          -1    -902.084528         50              среднее             1
742          -1   -3174.456205         57              среднее             1
800          -1  349987.852217         54              среднее             1
941          -1       0.000000         57              Среднее             1
1363         -1   -1195.264956         55              СРЕДНЕЕ             1
1929         -1   -1461.303336         38              среднее             1
2073         -1   -2539.761232         42              среднее             1
3814         -1   -3045.290443         26              Среднее             1
4201         -1    -901.101738         41              среднее             1
4402         -1  398001.302888         64              СРЕДНЕЕ             1
4542         -1   -1811.899756         32              среднее             1
5272         -1   -1143.485347         46              среднее             1
6013         -1   -1361.258696         46               высшее             0
6385         -1  370215.476226         48              среднее             1
7190         -1   -5928.202068         34              СРЕДНЕЕ             1
7278         -1    -526.318451         51              среднее             1
7615         -1       0.000000         35              среднее             1
7685         -1   -3237.360455         53              среднее             1
8229         -1   -1803.441074         54               высшее             0
8251         -1   -3113.998449         31              среднее             1
8561         -1    -195.479496         31              среднее             1
9565         -1   -2896.629686         34               высшее             0
9574         -1   -2710.419901         28               высшее             0
10177        -1   -1743.604011         37              среднее             1
10365        -1  345774.125957         63               ВЫСШЕЕ             0
10918        -1  340499.039342         50              среднее             1
11109        -1   -3438.463024         59              среднее             1
11268        -1   -1048.782203         30               высшее             0
11617        -1    -370.827130         27              среднее             1
12304        -1   -8493.101252         61  неоконченное высшее             2
13786        -1       0.000000         42              среднее             1
14357        -1    -268.337037         23              среднее             1
15147        -1   -9851.184337         44              среднее             1
15435        -1   -3614.220232         40               высшее             0
16129        -1    -457.861760         33              среднее             1
16265        -1   -2802.218127         40               высшее             0
17095        -1   -2809.693200         34              среднее             1
17429        -1    -895.379738         37              среднее             1
17657        -1   -4571.957475         41              среднее             1
18219        -1   -3575.215641         33              среднее             1
19100        -1    -617.246968         38              среднее             1
19366        -1    -372.034749         43              СРЕДНЕЕ             1
19417        -1  350340.760224         28              среднее             1
20393        -1  355157.107212         69              среднее             1
20717        -1    -661.822321         32               высшее             0
21140        -1   -1422.668059         44              среднее             1

               family_status  family_status_id gender  income_type  debt  \
291         гражданский брак                 1      F    сотрудник     0
705          женат / замужем                 0      F  госслужащий     0
742          женат / замужем                 0      F    сотрудник     0
800    Не женат / не замужем                 4      F    пенсионер     0
941          женат / замужем                 0      F    пенсионер     0
1363         женат / замужем                 0      F    компаньон     0
1929   Не женат / не замужем                 4      M    сотрудник     0
2073               в разводе                 3      F    компаньон     0
3814        гражданский брак                 1      F  госслужащий     0
4201         женат / замужем                 0      F  госслужащий     0
4402         женат / замужем                 0      F    пенсионер     0
4542         женат / замужем                 0      F    сотрудник     0
5272          вдовец / вдова                 2      F    сотрудник     0
6013         женат / замужем                 0      F    сотрудник     0
6385          вдовец / вдова                 2      F    пенсионер     0
7190         женат / замужем                 0      M    сотрудник     0
7278         женат / замужем                 0      F    сотрудник     0
7615         женат / замужем                 0      M    сотрудник     0
7685          вдовец / вдова                 2      F    сотрудник     0
8229         женат / замужем                 0      F    компаньон     0
8251        гражданский брак                 1      F    сотрудник     0
8561         женат / замужем                 0      F    сотрудник     0
9565         женат / замужем                 0      M    сотрудник     0
9574         женат / замужем                 0      M  госслужащий     0
10177        женат / замужем                 0      M    сотрудник     0
10365         вдовец / вдова                 2      F    пенсионер     0
10918        женат / замужем                 0      M    пенсионер     0
11109        женат / замужем                 0      F    сотрудник     0
11268       гражданский брак                 1      F    компаньон     0
11617        женат / замужем                 0      F    компаньон     0
12304        женат / замужем                 0      M    сотрудник     0
13786  Не женат / не замужем                 4      M    компаньон     0
14357              в разводе                 3      F    компаньон     0
15147              в разводе                 3      F    сотрудник     0
15435       гражданский брак                 1      F    сотрудник     0
16129        женат / замужем                 0      F    сотрудник     1
16265        женат / замужем                 0      M    сотрудник     0
17095        женат / замужем                 0      F    сотрудник     0
17429        женат / замужем                 0      F    компаньон     0
17657        женат / замужем                 0      F    сотрудник     0
18219        женат / замужем                 0      F    сотрудник     0
19100  Не женат / не замужем                 4      M    сотрудник     0
19366        женат / замужем                 0      M    сотрудник     0
19417              в разводе                 3      F    пенсионер     0
20393  Не женат / не замужем                 4      F    пенсионер     0
20717        женат / замужем                 0      F    сотрудник     0
21140        женат / замужем                 0      F    компаньон     0

        total_income                                 purpose
291    102816.346412                  профильное образование
705    137882.899271                 приобретение автомобиля
742     64268.044444              дополнительное образование
800     86293.724153              дополнительное образование
941         0.000000            на покупку своего автомобиля
1363    69550.699692                  профильное образование
1929   109121.569013                           покупка жилья
2073   162638.609373                           покупка жилья
3814   131892.785435                   на проведение свадьбы
4201   226375.766751         операции со своей недвижимостью
4402   163264.062064                    покупка недвижимости
4542   160544.718446                             образование
5272   278708.018820                    покупка недвижимости
6013   143008.454914  строительство собственной недвижимости
6385    36052.447435                             образование
7190   184315.121979                 приобретение автомобиля
7278   146928.769439   операции с коммерческой недвижимостью
7615        0.000000                             образование
7685   159676.174958        строительство жилой недвижимости
8229   138809.082930                    покупка недвижимости
8251    54412.056005                         свой автомобиль
8561   145577.881522                            ремонт жилью
9565   126754.656529                операции с недвижимостью
9574   303137.161001   получение дополнительного образования
10177  310367.509001                   получение образования
10365  170762.751325        строительство жилой недвижимости
10918  170762.773162                    покупка своего жилья
11109  219874.012345                       операции с жильем
11268  321603.700207                   на покупку автомобиля
11617  164591.260338                 покупка жилья для сдачи
12304  315006.182056                            недвижимость
13786       0.000000                              автомобиль
14357   92257.579312              покупка жилой недвижимости
15147  110990.810581                         свой автомобиль
15435   98127.537462                         сыграть свадьбу
16129  149641.079451                              автомобиль
16265  111984.472021                           покупка жилья
17095  182543.890127      на покупку подержанного автомобиля
17429  214814.018780                                   жилье
17657  122105.415823         операции со своей недвижимостью
18219  128362.023879                      высшее образование
19100  122205.497527        строительство жилой недвижимости
19366  155588.766795        сделка с подержанным автомобилем
19417   52872.993654                              автомобили
20393  116521.045858                операции с недвижимостью
20717  137405.384917              покупка жилой недвижимости
21140  169562.091999         операции со своей недвижимостью

Явные взаимосвязи с остальными переменными по другим столбцам не видны на первый взгляд.
Отнесем эту группу к группе "0 детей", так как это самый близкий по ratio блок.

In [20]:
data['children'] = data['children'].replace(-1, 0) # заменили -1 на 0
print(data['children'].value_counts())

0    14196
1     4818
2     2131
3      330
4       41
5        9
Name: children, dtype: int64

В итоге мы сделали в столбце 'children' четкие 6 групп от 0 до 5 по кол-ву детей.

Проверил все столбцы через методы value_counts и sum:
Столбец "dob_years" - 101 значение "0" лет. Количество незначительное, на расчеты не влияет - ничего не предпринимаем.
Столбец "gender" - одно значение XNA, нужно проверить.

In [21]:
#print(data['purpose'].value_counts()) #проверяем кол-во уникальных значений
#print(data['purpose'].sum()) #проверяем на числа, исключаем str

In [22]:
print(data['gender'].value_counts())

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

In [23]:
print(data[data['gender'] == 'XNA']) # вбрал XNA в столбце пол.

       children  days_employed  dob_years            education  education_id  \
10701         0   -2358.600502         24  неоконченное высшее             2

          family_status  family_status_id gender income_type  debt  \
10701  гражданский брак                 1    XNA   компаньон     0

        total_income               purpose
10701  203905.157261  покупка недвижимости

Проверка показала, что значение 'gender' == 'XNA' не является критичным в силу отсутствия влияния на дальнейшие расчеты. Оставляем как есть.

In [24]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB
None

Заменим данные в столбце "days_employed" на целочисленные в новом столбце.

In [25]:
data['days_employed_int'] = data['days_employed'].astype('int') 
# создадим новый столбец для 'days_employed_int' целых чисел
print(data.head())

   children  days_employed  dob_years education  education_id  \
0         1   -8437.673028         42    высшее             0
1         1   -4024.803754         36   среднее             1
2         0   -5623.422610         33   Среднее             1
3         3   -4124.747207         32   среднее             1
4         0  340266.072047         53   среднее             1

      family_status  family_status_id gender income_type  debt   total_income  \
0   женат / замужем                 0      F   сотрудник     0  253875.639453
1   женат / замужем                 0      F   сотрудник     0  112080.014102
2   женат / замужем                 0      M   сотрудник     0  145885.952297
3   женат / замужем                 0      M   сотрудник     0  267628.550329
4  гражданский брак                 1      F   пенсионер     0  158616.077870

                      purpose  days_employed_int
0               покупка жилья              -8437
1     приобретение автомобиля              -4024
2               покупка жилья              -5623
3  дополнительное образование              -4124
4             сыграть свадьбу             340266

In [26]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 13 columns):
children             21525 non-null int64
days_employed        21525 non-null float64
dob_years            21525 non-null int64
education            21525 non-null object
education_id         21525 non-null int64
family_status        21525 non-null object
family_status_id     21525 non-null int64
gender               21525 non-null object
income_type          21525 non-null object
debt                 21525 non-null int64
total_income         21525 non-null float64
purpose              21525 non-null object
days_employed_int    21525 non-null int64
dtypes: float64(2), int64(6), object(5)
memory usage: 2.1+ MB
None

### Recap

Кроме замены нескольких нерядовых значений в столбце "children".
Заменил значение "трудовая занятость в днях" ('days_employed_int') с float в int. Переводить отрицательные значения пока нет необходимости.

### Duplicates processing

Проверим столбцы на дубликаты методами value_count и duplicated()

In [27]:
print(data['education'].value_counts()) #проверяем кол-во уникальных 
print(data.duplicated('education').sum()) # проверяем дубли

среднее                13750
высшее                  4718
СРЕДНЕЕ                  772
Среднее                  711
неоконченное высшее      668
ВЫСШЕЕ                   274
Высшее                   268
начальное                250
Неоконченное высшее       47
НЕОКОНЧЕННОЕ ВЫСШЕЕ       29
НАЧАЛЬНОЕ                 17
Начальное                 15
ученая степень             4
УЧЕНАЯ СТЕПЕНЬ             1
Ученая степень             1
Name: education, dtype: int64
21510

Дубликаты выявлены в столбцах:
'education'
Приводим к lower регистру в том же столбце.

In [28]:
data['education'] = data['education'].str.lower()

In [29]:
print(data['education'].value_counts())

среднее                15233
высшее                  5260
неоконченное высшее      744
начальное                282
ученая степень             6
Name: education, dtype: int64

### Recap

Выявлены дубликаты в столбце "education". Устранены путем изменения регистра значений. Данные возникли возможно из-за того, что нет проверки на регистр поля на входе данных, нужно применить правило нижнего регистра по-умолчанию. Возможно также данные поступают из разных источников. В пользу этого предположения говорит единые названия значений.

### Lemmatization

In [30]:
from pymystem3 import Mystem #загружаем библиотеку
m = Mystem()

В нашей базе присутствует один столбец, который важен для рачета, но содержит информацию, которую передавал заемщик в свободной форме: "purpose" - цель кредита.
Есть необходимость создать дополнительный столбец для дальнейшей категоризации, который будет содержать в себе ключевое слово из столбца "цель кредита".
Используем лемматизацию.

In [31]:
data['purpose_lemma'] = data['purpose'].apply(m.lemmatize) 
# добавляем столбец 'purpose_lemma' и лемматизируем в него строку из 'purpose'
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,days_employed_int,purpose_lemma
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья,-8437,"[покупка, , жилье, \n]"
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля,-4024,"[приобретение, , автомобиль, \n]"
2,0,-5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья,-5623,"[покупка, , жилье, \n]"
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование,-4124,"[дополнительный, , образование, \n]"
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу,340266,"[сыграть, , свадьба, \n]"

Теперь необходимо purpose_lemma перевести в список категориальных значений, по которому дальше  изучать категории.

In [32]:
def get_purpose(purpose_lemma):  #функция, через которую отбираем по значениям и добавляем в новый столбец
    if 'свадьба' in purpose_lemma:
        return 'свадьба'
    if 'жильё' in purpose_lemma:
        return 'недвижимость'
    if 'жилье' in purpose_lemma:
        return 'недвижимость'
    if 'образование' in purpose_lemma:
        return 'образование'
    if 'автомобиль' in purpose_lemma:
        return 'автомобиль'
    if 'недвижимость' in purpose_lemma:
        return 'недвижимость'

    return 'other'
    
data['purpose_id'] = data['purpose_lemma'].apply(get_purpose)  # добавить новый столбец 'purpose_id' с данными из функции
#print(data[data['purpose_id'] == 'other'].head()) # через логическую функцию смотрю какие леммы еще не проверены.

Проверяем как сложились категории по цели кредита:

In [33]:
print(data['purpose_id'].value_counts())

недвижимость    10840
автомобиль       4315
образование      4022
свадьба          2348
Name: purpose_id, dtype: int64

In [34]:
def get_purpose_business(purpose_lemma):  #функция, через которую отбираем по занчениям и добавляем в новый столбец
    if 'коммерческий' in purpose_lemma:
        return 'Yes'
    if 'сдача' in purpose_lemma:
        return 'Yes'
    if 'бизнес' in purpose_lemma:
        return 'Yes'

    return 'No'
    
data['purpose_id_business'] = data['purpose_lemma'].apply(get_purpose_business)  
# добавить новый столбец 'purpose_id_business' с данными из функции
#print(data[data['purpose_id'] == 'other'].head()) 
# через логическую функцию смотрю какие леммы еще не проверены.

In [35]:
print(data['purpose_id_business'].value_counts())

No     19557
Yes     1968
Name: purpose_id_business, dtype: int64

Все цели кредита уложились в 4 категории: недвижимость (вкл.коммерческую), автомобиль, образование, свадьба. Из них на коммерческие цели было 1968 запросов.

### Recap

Все обращения за кредитом можно разделить на 4 блока, где "недвижимость" - самый большой (10840 значений), блок "автомобиль" - второй по значимости, но уже белее, чем в два раза меньше (4315 значений), немного уступает предыдущему блок "образование" - 4022 значений, и замыкает цепочку блок "свадьба"  - 2348 значений.

### Data categorization

Для ответа на вопросы нам потребуется категоризация: "children" - Yes/No; и "total_income" - определим шаг в процессе выполнения. Применим словари, где необходимо.

'children' - Yes/No

In [36]:
def children_group(number):
        """
        Возвращает значение Yes или No, используя правила:
        - 'Yes' при значении number !=0;
        - 'No' при значениии number ==0;
        """

        if number != 0:
                return 'Yes'
        if number == 0:
                return 'No'
            
#Протестируем работу функции для каждого правила: 
#print(children_group(5))

In [37]:
data['children_group'] = data['children'].apply(children_group) #применим функцию и добавим столбец
print(data.head())

   children  days_employed  dob_years education  education_id  \
0         1   -8437.673028         42    высшее             0
1         1   -4024.803754         36   среднее             1
2         0   -5623.422610         33   среднее             1
3         3   -4124.747207         32   среднее             1
4         0  340266.072047         53   среднее             1

      family_status  family_status_id gender income_type  debt   total_income  \
0   женат / замужем                 0      F   сотрудник     0  253875.639453
1   женат / замужем                 0      F   сотрудник     0  112080.014102
2   женат / замужем                 0      M   сотрудник     0  145885.952297
3   женат / замужем                 0      M   сотрудник     0  267628.550329
4  гражданский брак                 1      F   пенсионер     0  158616.077870

                      purpose  days_employed_int  \
0               покупка жилья              -8437
1     приобретение автомобиля              -4024
2               покупка жилья              -5623
3  дополнительное образование              -4124
4             сыграть свадьбу             340266

                          purpose_lemma    purpose_id purpose_id_business  \
0               [покупка,  , жилье, \n]  недвижимость                  No
1     [приобретение,  , автомобиль, \n]    автомобиль                  No
2               [покупка,  , жилье, \n]  недвижимость                  No
3  [дополнительный,  , образование, \n]   образование                  No
4             [сыграть,  , свадьба, \n]       свадьба                  No

  children_group
0            Yes
1            Yes
2             No
3            Yes
4             No

Категоризация по children - Yes/No применена.

In [38]:
print(data['children_group'].value_counts())

No     14196
Yes     7329
Name: children_group, dtype: int64

Разбиваем "total_income" на категории.

In [39]:
print(data[data['total_income']<0]) # проверка на наличие отрицательных значений

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose, days_employed_int, purpose_lemma, purpose_id, purpose_id_business, children_group]
Index: []

In [40]:
total_income_max = data['total_income'].max()
print(total_income_max)

2265604.028722744

Категоризация "total_income" - 0-120K, 121K-180K, 181K-240K, 241K-360K, 361K-up.

In [41]:
def income_group(number):

        if number <0:
            return 'check number'
        if number >=0:
            if number <=120000:
                return '0-120K'
        if number >121000:
            if number <=180000:
                return '121K-180K'
        if number >181000:
            if number <=240000:
                return '181K-240K'
        if number >241000:
            if number <=360000:
                return '241K-360K'
        return '361K-up'
            
#Протестируем работу функции для каждого правила: 
print(income_group(180000))

121K-180K

Присваиваем  новому столбцу 'income_group' значения, полученные по итогам работы функции.

In [42]:
data['income_group'] = data['total_income'].apply(income_group)
print(data.head())

   children  days_employed  dob_years education  education_id  \
0         1   -8437.673028         42    высшее             0
1         1   -4024.803754         36   среднее             1
2         0   -5623.422610         33   среднее             1
3         3   -4124.747207         32   среднее             1
4         0  340266.072047         53   среднее             1

      family_status  family_status_id gender income_type  debt   total_income  \
0   женат / замужем                 0      F   сотрудник     0  253875.639453
1   женат / замужем                 0      F   сотрудник     0  112080.014102
2   женат / замужем                 0      M   сотрудник     0  145885.952297
3   женат / замужем                 0      M   сотрудник     0  267628.550329
4  гражданский брак                 1      F   пенсионер     0  158616.077870

                      purpose  days_employed_int  \
0               покупка жилья              -8437
1     приобретение автомобиля              -4024
2               покупка жилья              -5623
3  дополнительное образование              -4124
4             сыграть свадьбу             340266

                          purpose_lemma    purpose_id purpose_id_business  \
0               [покупка,  , жилье, \n]  недвижимость                  No
1     [приобретение,  , автомобиль, \n]    автомобиль                  No
2               [покупка,  , жилье, \n]  недвижимость                  No
3  [дополнительный,  , образование, \n]   образование                  No
4             [сыграть,  , свадьба, \n]       свадьба                  No

  children_group income_group
0            Yes    241K-360K
1            Yes       0-120K
2             No    121K-180K
3            Yes    241K-360K
4             No    121K-180K

In [43]:
#группируем по новому столбцу income_group для проверки значений
print(data['income_group'].value_counts())

0-120K       9019
121K-180K    5982
181K-240K    3228
241K-360K    2310
361K-up       986
Name: income_group, dtype: int64

Категоризация по доходу выглядет так:
0-120K       9019
121K-180K    5982
181K-240K    3228
241K-360K    2310
361K-up       986

Категоризируем семейное положение заёмщика.

In [44]:
family_status_log = data[['family_status_id', 'children']] #категоризация статуса id и количества детей исходя из статуса
print(family_status_log.head())

   family_status_id  children
0                 0         1
1                 0         1
2                 0         0
3                 0         3
4                 1         0

In [45]:
family_status_dict = data[['family_status_id', 'family_status']]  #словарь через id семейного статуса и название статуса
print(family_status_dict.head(10))

   family_status_id     family_status
0                 0   женат / замужем
1                 0   женат / замужем
2                 0   женат / замужем
3                 0   женат / замужем
4                 1  гражданский брак
5                 1  гражданский брак
6                 0   женат / замужем
7                 0   женат / замужем
8                 1  гражданский брак
9                 0   женат / замужем

In [46]:
family_status_dict = family_status_dict.drop_duplicates().reset_index(drop=True)  # удаляем дубликаты в словаре
print(family_status_dict.head())

   family_status_id          family_status
0                 0        женат / замужем
1                 1       гражданский брак
2                 2         вдовец / вдова
3                 3              в разводе
4                 4  Не женат / не замужем

In [47]:
print(family_status_log.groupby('family_status_id').mean().sort_values('children',ascending=False).head(10)) 
# группируем по статусу и выводим среднее количество детей на заемщика

                  children
family_status_id
0                 0.569305
1                 0.459660
3                 0.430962
4                 0.230715
2                 0.153125

### Recap

Категоризировал столбцы "children", где  значений No = 14196 и Yes = 7329;
и "total_income" (ежемесячный доход), где 0-120K - 9019 наблюдений; 121K-180K - 5982; 181K-240K - 3228; 241K-360K - 2310; 361K-up - 986; Также сделал категоризацию через id семейного статуса и вывел среднее количество детей на каждую категорию.

### Hypotheses

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

In [48]:
data.pivot_table(values='debt',index='children_group',aggfunc=['count','mean']) 
# пивот где показать среднюю задолженность исходя из наличия детей Yes/No

                count      mean
                 debt      debt
children_group
No              14196  0.074951
Yes              7329  0.092373

In [49]:
data.pivot_table(values='debt',index='children',aggfunc=['count','mean'])
# проверим средние значения применяя группировку по кол-ву детей

          count      mean
           debt      debt
children
0         14196  0.074951
1          4818  0.092154
2          2131  0.094791
3           330  0.081818
4            41  0.097561
5             9  0.000000

### Recap

Зависимость между наличием детей и возвратом кредита в срок есть.
Группа заёмщиков с детьми любого количества имеет величину на 1,74 п.п. выше, чем без детей (9,2% и 7,5% средние значения соответственно).
Из групп заёмщиков с детьми верхние два значения  у заёмщиков с 4-мя и 2-мя детьми (9,76% и 9,48% средние значения соответственно).
Минимальное среднее значение группы заёмщиков с детьми у тех, кто указал наличие 3-х детей (8,2%).
Для кредитного скоринга можно оставить зависимость от деления на две группы с и без детей, так как деление по количеству детей не даёт большой разницы в средних значениях.

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [50]:
data.pivot_table(values='debt',index='family_status',aggfunc=['count','mean'])
# пивот где показать среднюю задолженность исходя из данных по семейному статусу

                       count      mean
                        debt      debt
family_status
Не женат / не замужем   2813  0.097405
в разводе               1195  0.071130
вдовец / вдова           960  0.065625
гражданский брак        4177  0.092890
женат / замужем        12380  0.075202

In [51]:
data.pivot_table(values='debt',index='family_status',columns='gender',aggfunc=['count','mean'])
# добавим значения по гендерному признаку

                        count                   mean
gender                      F       M  XNA         F         M  XNA
family_status
Не женат / не замужем  1732.0  1081.0  NaN  0.068129  0.144311  NaN
в разводе               936.0   259.0  NaN  0.065171  0.092664  NaN
вдовец / вдова          905.0    55.0  NaN  0.057459  0.200000  NaN
гражданский брак       2868.0  1308.0  1.0  0.081241  0.118502  0.0
женат / замужем        7795.0  4585.0  NaN  0.067992  0.087459  NaN

### Recap

Зависимость  между данными по семейному положению и возвратом кредита в срок есть.
Самая низкая дисциплина у заёмщиков со статусом "не женат / не замужем" - в среднем 9,7% случаев нарушения сроков оплаты кредита. Причём нужно отметить, что такой высокий процент нарушений обеспечивают лица мужского пола - 14,4% с нарушениями, когда как средний % нарушений у заёмщиков женского пола значительно ниже, чем по группе в целом - 6,8% (группа 9,7%).
Вторая значимая группа по количеству нарушений кроков кредита "гражданский брак" - 9,3%. Аналогичная картина с разбивкой по гендерному признаку - доля нарушений женщинами-заёмщиками ниже средних значений группы.
Самая лучшая ситуация с наличием просроченных кредитов в группе "вдовец/вдова" - 6,6%. Но, нужно учесть общую тенденцию низкой дисциплины у заёмщиков мужского пола - 20%.
Исходя из вышесказанного, в кредитном скоринге необходимо учесть гендерную составляющую, а не только данные по тому или иному семейному статусу.

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [52]:
print(data.head())
print()
print(data['total_income'].mean())
print()
print(data['total_income'].median())

   children  days_employed  dob_years education  education_id  \
0         1   -8437.673028         42    высшее             0
1         1   -4024.803754         36   среднее             1
2         0   -5623.422610         33   среднее             1
3         3   -4124.747207         32   среднее             1
4         0  340266.072047         53   среднее             1

      family_status  family_status_id gender income_type  debt   total_income  \
0   женат / замужем                 0      F   сотрудник     0  253875.639453
1   женат / замужем                 0      F   сотрудник     0  112080.014102
2   женат / замужем                 0      M   сотрудник     0  145885.952297
3   женат / замужем                 0      M   сотрудник     0  267628.550329
4  гражданский брак                 1      F   пенсионер     0  158616.077870

                      purpose  days_employed_int  \
0               покупка жилья              -8437
1     приобретение автомобиля              -4024
2               покупка жилья              -5623
3  дополнительное образование              -4124
4             сыграть свадьбу             340266

                          purpose_lemma    purpose_id purpose_id_business  \
0               [покупка,  , жилье, \n]  недвижимость                  No
1     [приобретение,  , автомобиль, \n]    автомобиль                  No
2               [покупка,  , жилье, \n]  недвижимость                  No
3  [дополнительный,  , образование, \n]   образование                  No
4             [сыграть,  , свадьба, \n]       свадьба                  No

  children_group income_group
0            Yes    241K-360K
1            Yes       0-120K
2             No    121K-180K
3            Yes    241K-360K
4             No    121K-180K

150512.84413613725

135514.71128002706

In [53]:
data.pivot_table(values='debt',index='income_group',aggfunc=['count','mean'])
# пивот где показать среднюю задолженность исходя из данных по доходу заёмщика

             count      mean
              debt      debt
income_group
0-120K        9019  0.079942
121K-180K     5982  0.088599
181K-240K     3228  0.079926
241K-360K     2310  0.071861
361K-up        986  0.066937

In [54]:
data.groupby(['income_type','income_group'])['debt'].agg(['count','mean']).sort_values('mean',ascending=False)
# сгруппируем по группам дохода и изучим самые рискованные группы по типу занятости 'income type'

                              count      mean
income_type     income_group
безработный     0-120K            1  1.000000
в декрете       0-120K            1  1.000000
сотрудник       121K-180K      3260  0.106135
                0-120K         4726  0.094160
                181K-240K      1638  0.089744
                241K-360K      1089  0.083563
компаньон       121K-180K      1380  0.081159
сотрудник       361K-up         406  0.078818
компаньон       0-120K         1534  0.075619
                181K-240K       957  0.073145
                361K-up         396  0.070707
госслужащий     241K-360K       164  0.067073
пенсионер       181K-240K       411  0.065693
госслужащий     0-120K          598  0.065217
                181K-240K       221  0.063348
компаньон       241K-360K       818  0.061125
пенсионер       241K-360K       239  0.058577
                0-120K         2157  0.055169
                121K-180K       945  0.053968
госслужащий     121K-180K       397  0.052897
пенсионер       361K-up         104  0.048077
госслужащий     361K-up          79  0.012658
предприниматель 0-120K            1  0.000000
                361K-up           1  0.000000
безработный     181K-240K         1  0.000000
студент         0-120K            1  0.000000

In [55]:
data.groupby(['income_group','education'])['debt'].agg(['count','mean']).sort_values('mean',ascending=False)
# категоризация по уровню дохода и уровню образования

                                  count      mean
income_group education
361K-up      неоконченное высшее     38  0.184211
121K-180K    начальное               70  0.142857
181K-240K    начальное               36  0.138889
241K-360K    неоконченное высшее    115  0.113043
181K-240K    неоконченное высшее    126  0.111111
121K-180K    среднее               4318  0.096341
0-120K       начальное              157  0.095541
361K-up      среднее                451  0.088692
181K-240K    среднее               2123  0.087141
0-120K       среднее               7019  0.086907
241K-360K    среднее               1322  0.085477
0-120K       неоконченное высшее    259  0.077220
241K-360K    начальное               14  0.071429
121K-180K    неоконченное высшее    206  0.067961
             высшее                1388  0.064841
181K-240K    высшее                 942  0.057325
0-120K       высшее                1581  0.048071
241K-360K    высшее                 857  0.045508
361K-up      высшее                 492  0.038618
0-120K       ученая степень           3  0.000000
181K-240K    ученая степень           1  0.000000
241K-360K    ученая степень           2  0.000000
361K-up      начальное                5  0.000000

### Recap

Зависимость между данными по уровню дохода заёмщика и возвратом кредита в срок есть. Однако различия между группами по доходам по среднему уровню нарушения кредитной дисциплины невелики: от 6,7% (доход свыше 351000 в месяц) до 8,86% (от 121000 до 180000 рублей в месяц). 
Если применить группировку по типу занятости, то мы видим, что есть большие группы заёмщиков, которые имеют величину выше, чем по группам дохода: 9624 заёмщика (45% базы) из группы "сотрудник" с доходом от минимума до 240000 рублей в месяц имеют величины от 8,97% до 10,6% случаев нарушения (максимум по группам дохода 8,86%). Остальные группы по типу занятости показывают лучшие результаты. 
Углубляясь в детали можно найти статистику по уровню нарушений кредитной дисциплины исходя из уровня образования заёмщика: 7 групп из 23 (30%) имеют превышение по средним значениям вплоть до 18,4%. 
Исходя из вышесказанного можно рекомендовать применить скоринг не сколько к категориям по уровню дохода отдельно, сколько в связке с уровнем образования и типом занятости.

- Как разные цели кредита влияют на его возврат в срок?

In [56]:
data.groupby(['purpose_id'])['debt'].agg(['count','mean']).sort_values('mean',ascending=False)
# категоризация по цели кредита и факта долга

              count      mean
purpose_id
автомобиль     4315  0.093395
образование    4022  0.091994
свадьба        2348  0.079216
недвижимость  10840  0.072140

In [57]:
data.groupby(['purpose_id_business','purpose_id'])['debt'].agg(['count','mean']).sort_values('mean',ascending=False)
# категоризация по цели кредита и факта долга

                                  count      mean
purpose_id_business purpose_id
No                  автомобиль     4315  0.093395
                    образование    4022  0.091994
                    свадьба        2348  0.079216
Yes                 недвижимость   1968  0.076728
No                  недвижимость   8872  0.071123

### Recap

По целям кредита можно сказать, что самый рискованный вид цели - "автомобиль" (9,3% фактов просроченного кредита); второй - "образование" с 9,2%. С большим отрывом идет "свадьба" - 7,9% и замыкает "недвижимость" с 7,2% нарушений.
Деление на коммерческую и некоммерческую недвижимость не даёт большой разницы в значениях - нет причин выделять в отдельную категорию ввиду количества.

### Output

Изучение данных показало, что присутствуют такие группы заёмщиков, по которым количество фактов просроченных кредитов достигает высоких значений (до 19%). Речь идет о таких характеристиках как пол, уровень образования.
Если применять скоринг к группам, поделенным по базовому принципу, как в поставленных вопросах, то к значительному различию в значениях это не приводит: вариации в 2-3 п.п.